<br>
<div class="container">

<br>
<h1>Lectures</h1>
<br>
<%= link_to 'New Lecture', new_lecture_path , class: "btn btn-primary"%>
<br>
<br>
<div class=row>

<table width=90%>
  <thead>
    <tr>
      <th>Title</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.title %></td>
        <td><%= lecture.course.title %></td>
        <td><%= link_to 'Show', lecture %></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>
</div>
